
.weatherPage-container {
    width: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .weatherPage-container-nextDays {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
    }
}

@media (max-width: 1024px) {
    .weatherPage-container {
        .weatherPage-container-nextDays {
           
        }
    }
}


@media (max-width: 768px) {
    .weatherPage-container {
        width: 100%;
        .weatherPage-container-nextDays {
            
        }
    }
}

@media (max-width: 425px) {
    .weatherPage-container {
        width: 100%;
        .weatherPage-container-nextDays {
        
          
        }
    }
}