

$main_background_color: linear-gradient(243.18deg, #9065BC 0%, rgba(255, 0, 108, 0.38) 100%);
$blue_background_color: linear-gradient(243.18deg, #0C05E7 0%, #9B2FCD 100%);
$green_background_color: linear-gradient(243.18deg, #00C236 0%, #40B845 100%);
$lightBlue_background_color: linear-gradient(243.18deg, #1C565E 0%, #3DC7DA 100%);


